{% extends 'base.html' %}
{% block title %}{{ kategori.isim }}{% endblock %}  <!--title sekmenin üstünde yazan yer-->

{% block content %}<!-- CARDLARIMIZ-->

{% for yazi in yazilar %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ yazi.resim.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detay' slug=yazi.slug %}">{{ yazi.baslik }}</a></h5>
        <p class="card-text">{{ yazi.icerik|safe|truncatechars_html:150 }}</p> 
          <!--safe ekleyince editor kaynaklı<p> gibi şeyler çıkmasını engelliyor-->
            <!--truncatechars_html:150 ilk 150 kelimeyi gösterir sonrasını .. olarak gosterir-->
        <p class="card-text"><small class="text-muted">{{ yazi.duzenlenme_tarihi }}</small></p>
            <!-- |timesince eklersek tarih yerine ne kadar süre geçmiş onu gösterir-->
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>Hiç Yazı Bulunamadı</p>

{% endfor %}
  



<!--PAGINATION-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">

    <!--egerki sayfa 1 ise önceki kısmı disable edelim-->
    <!--paginator zaten yazılar ile iliskiliydi-->
    
    {% if yazilar.has_previous %} <!--ilk sayfada degilizi-->
    <li class="page-item ">
      <a class="page-link" href="?sayfa={{ yazilar.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a><!--href'e girdigimiz kodla previous'a tıklaınca geri gidecek-->
    </li>

    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}
      
    
    
    {% if yazilar.paginator.num_pages  > 0 %}
      <li class="page-item"><a class="page-link" href="#">{{ yazilar.number }}</a></li>
    {% endif %}
      
    



    
    {% if yazilar.has_next %}<!--Sonraki Sayfa-->
    <li class="page-item">
      <a class="page-link" href="?sayfa={{ yazilar.next_page_number }}">Next</a>
    </li>

    <li class="page-item"><!--Son Sayfa-->
      <a class="page-link" href="?sayfa={{ yazilar.paginator.num_pages }}">Last</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a><!--burda href verince sorun olıyor-->
    </li>
    {% endif %}
       
    
  </ul>
</nav>

{% endblock %}
 