{% extends 'base.html' %}
{% load crispy_forms_tags %} <!--güzel arayüz için-->

{% block title %}Yazı Guncelle{% endblock %} 

{% block content %} 
<form method="POST" enctype = "multipart/form-data">{% csrf_token %} <!-- bu form bir request gönderir -->
    <!--action gondermezsek posttan gelen bilgiyi bulundugu safaya atar ki bizde öyle isityorz-->
    {{ form.media }}
    {{ form|crispy}} 

   

    <input type="submit" value="Yazı Güncelle" class="btn btn-danger mt-3 mb-3"> <!-- Gönder buton üzerindeki isim -->
   
</form>
        
{% endblock %}

  