


   <!--MENU-->
   <div class = "col-sm-3">
    <div class="card">
      <div class="card-header">
        MENÜ
      </div>

    <!--Kullanıcı Giriş Yapmış mı Yapmamış mı? -->
      {% if request.user.is_authenticated %}
      <ul class="list-group list-group-flush"></ul>
        <li class="list-group-item">Profili Düzenle</li>
        <li class="list-group-item">Şifre Değiştir</li>
        <li class="list-group-item">Yazı Ekle</li>
        <li class="list-group-item"><a href="{% url 'yazilarim' %}"> Yazılarım</a></li>
        <li class="list-group-item">Çıkış Yap</li>
      </ul>
      {% else %}
      Buraya Login Kısmını Koyacağız  
      {% endif %}
 
      
    </div>  
  </div>
  